.main{
    display: flex;
    margin-bottom: 30px;
    margin-top: 25px;
}
.picture1{
    width: 331.93px;
    height: 148.77px;
    top: 350.69px;
    left: 86.87px;
    gap: 0px;
    opacity: 0px;
}
.ball{
    margin-top: 300px;
}
.negr{

}

